*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #050816;
    font-family: Arial, sans-serif;
}

/* Grid effect */
body::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;

    background:
    linear-gradient(rgba(0,255,255,0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,255,0.08) 1px, transparent 1px);

    background-size: 50px 50px;
}

.container{
    position: relative;
    z-index: 1;

    text-align: center;
    padding: 50px;
    width: 450px;

    border: 2px solid cyan;
    border-radius: 20px;

    background: rgba(0,0,0,0.6);

    box-shadow:
    0 0 20px cyan,
    0 0 40px cyan;
}

h1{
    color: cyan;
    margin-bottom: 30px;
}

input{
    width: 100%;
    padding: 18px;
    font-size: 20px;

    border: 2px solid cyan;
    border-radius: 10px;

    background: black;
    color: white;
    outline: none;
}

button{
    padding: 15px 35px;
    border: none;
    background: cyan;
    color: black;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.08);
}

#message{
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}